body {
	color: red;
}

h1{
	font-family: Verdana;
	font-style: italic;
	text-align: center;
	color: white;
	margin-right: 5em;
}

h3{
	font-family: Verdana;
	font-style: italic;
	text-align: center;
	color: white;
	margin-right: 10em;
}

.title {
	margin-right: 7em;
}


#blog-body {
	float: right;


}

.blog-left {
	float: left;
	width: 10%;

}

.blog-left li {
	padding: 0.1px;

}









