
#navigation a{
	color: white;
}

#footer a{
	color: white;
}

h1{
	font-family: Verdana;
	font-style: italic;
	text-align: center;
	color: black;
	margin-right: 5em;
}

h2 {
	color: black;
	text-align: center;
}

h3{
	font-family: Verdana;
	font-style: italic;
	text-align: center;
	color: black;
	margin-right: 10em;
}

.title {
	margin-right: 7em;
}

.code{
	background-color: #aaaaaa;
	font-family: Verdana;
	font-weight: bold;
}

.code p{
	font-family: Verdana;
}

a{
	color: black;
}

.blog{
	width: 88%;
	float: right;
}

.blog p{
	text-align: left;
}

.blog-left {
	float: left;
	width: 10%;
}

.blog-left li {
	padding: 0.1px;

}

.blog-left a {
	font-size: 14px;
}

.temp-blog-left{
	font-size: 40px;
}

#footer {
	position: relative;
	bottom: 0;
	clear: both;
}









