body {
	color: red;
}

h1{
	font-family: Verdana;
	font-style: italic;
	text-align: center;
	color: white;
	margin-right: 5em;
}

h3{
	font-family: Verdana;
	font-style: italic;
	text-align: center;
	color: white;
	margin-right: 10em;
}

.title {
	margin-right: 7em;
}

#navigation {
	left: 47%;
	
}

#links {
	margin-left: 240px;
}

#blog-body {
	float: right;
	position: absolute;
}

.blog-left {
	float: left;

}

.blog-left li {
	padding: 0.1px;

}


#footer {
	clear: both;
	position: relative;
}








