body{
	background-color: gray;
}

#header {

	background-color: green;

}

h2{
	font-family: Verdana;
	font-style: italic;
	text-align: center;
	color: white;
	margin-top: -15px
}

#navigation {
	text-align: center;
	
}

p {
	text-align: center;
	font-weight: bold;
	color: white;
}

img {
	border: solid black 3px;
}

#navigation ul {
	text-align: center;
	padding: 5px;

}

#navigation li {
	display: inline-block;
	color: white;
	border: 3px solid black;
}

#footer {
	clear: both;
	background-color: green;
}

#links li{
	border: 3px solid black;
	display: inline-block;
}

a {
	color: white;
}
a:hover {
	font-size: 14;
	font-family: Verdana;
}

#links ul {
	text-align: center;
	padding: 5px;
}

.left {
	text-align: center;
}

.left p {
	color: white;

}

.middle {
	text-align: center;
}

.middle p {
	color: white;
	margin-top: -3px;
}

.right {
	text-align: center;
	margin-top: -3px;
}

.right p {
	color: white;
	margin-top: -3px;
}
