body{
	background-color: #F2F2F2
}

#header {
	padding: 15px;
	background-color: #1E4099;
}


#navigation {
	text-align: center;
	
}

.about_me p {
	text-align: center;
	font-size: 20px;
}
.about_me {
	text-align: center;
}
p {
	text-align: center;
	font-weight: bold;
	color: black;
}

.snow img{
	border: 0px;
	border-radius: 50%;
	padding-top: 5px;
	height: 230px;
}

img {
	border: solid black 1px;
	border-radius: 40%;
	box-shadow: 10px 10px 5px #aaaaaa;
	height: 210px;
	width: 290px;
}

#navigation ul {
	text-align: center;
	padding: 5px;


}

#navigation li {
	display: inline-block;
	color: white;
	margin-right: 30px;
}

#footer {
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #1E4099;
}

#links li{
	display: inline-block;
	margin-right: 30px;
}

span{
	color: black;
}

.cheat a{
	color: black;
}

a {
	color: white;
	font-size: 26px;
}
a:hover {
	font-family: Verdana;
}

#links ul {
	text-align: center;
	padding: 20px;
}

.content {
	text-align: center;
}

.content p {
	color: black;
	font-size: 30px;
}

#links img{
	border-color: #1E4099;
	border-radius: 0%;
	height: 30px;
	width: 30px;
	box-shadow: 0px 0px;
}
